.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px 10px;
    gap: 20px 10px;
    padding: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.wall {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    background-color: #1c112a !important;
}

.wall img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
    object-fit: cover;
}