<main class="auto-grid">

    <div class="wall">
        <img src="https://images4.alphacoders.com/125/thumbbig-1250516.webp" alt="Fondo de pantalla">
    </div>

    <div class="wall">
        <img src="https://images4.alphacoders.com/124/thumbbig-1246122.webp" alt="Fondo de pantalla">
    </div>

    <div class="wall">
        <img src="https://images8.alphacoders.com/124/thumbbig-1244248.webp" alt="Fondo de pantalla">
    </div>

    <div class="wall">
        <img src="https://images5.alphacoders.com/124/thumbbig-1240551.webp" alt="Fondo de pantalla">
    </div>

    <div class="wall">
        <img src="https://images3.alphacoders.com/123/thumbbig-1235167.webp" alt="Fondo de pantalla">
    </div>

    <div class="wall">
        <img src="https://images4.alphacoders.com/123/thumbbig-1235114.webp" alt="Fondo de pantalla">
    </div>

    <div class="wall">
        <img src="https://images7.alphacoders.com/122/thumbbig-1229664.webp" alt="Fondo de pantalla">
    </div>

</main>